#nav-container{
    background-image:url(img/billboard.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.nav-data{
    display: flex;
    justify-content: space-between;
    padding: 2px 30px;
    background-color:rgba(255, 255, 255, 0.6) ;
    height: 80px;
    width: 98%;
}
.nav-logo{
    text-align: center;
    padding-top: 1px;
}

.navbar-list ul{
    display: flex;
}

.navbar-list li,a{
    list-style: none;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    margin: 15px 15px;
    padding-bottom: 5px;
    
}

.nav-item li,a:hover{
    color: rgb(26, 224, 224);
}

.banner-para{
    display: flex;
    background-color: rgba(255, 255, 255, 0.6);
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
    width: 99.5%;
    height: 70px;
}

.banner-text{
    font-size: 20px;
    margin: 5px 20px;
}

.banner-btn :hover{
    color: blue;
    justify-content: center;
    align-items: center;  
}

.btn_1{
    width:300px;
    height: 30px;
    margin: 22px 112px;
    justify-content: center;
    background-color: rgb(67, 222, 222); 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #f9f6f6;
    border: 0px;
    
}

.header{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 20px;
}

.aboutus-container{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.about-list :hover{
    font-size: 20px;
    color: black;
}

.studio-data{
    margin: 0px 200px;
    background-color: #f9f6f6;
}

.flex-services{
    display: flex;
}

.flex-services img{
    width: 300px;
    border: 0px;
}

.header-T{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 20px;
}

.testimonials-container{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.testimonials-data{
    margin: 0px 200px;
    background-color: #f9f6f6;
}

.client_img{
    border-radius: 20px;
}

.role{
    color: #989898;
    font-size: 15px;
}

.testimonials-list :hover{
    font-size: 20px;
    color: black;
}

.logo{
    width: 100%;
    background-color: #f3f2f2;
}

.brand-logo{
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
}

 .footer-text{
    font-size: 20px;
    margin: 5px 57px;
    color: white;
}

 .footer-data{
    display: flex;
    background-color: rgb(52, 51, 51);
    justify-content: space-between;
    position: absolute;
     margin: 2px 200px;
    /* width: 90% */
    height: 70px;  
}

 .btn_2{
    width:300px;
    height: 30px;
    margin: 22px 112px;
    justify-content: center;
    background-color: rgb(67, 222, 222); 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #f9f6f6;
    border: 0px;
    
}

.footer-btn :hover{
    color: blue;
     justify-content: center;
    align-items: center;  
}

.footer-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 30px;
    background-color: rgb(33, 32, 32);
    color: #f3f2f2;
}

.fa-brands{
    color: #f9f6f6;
}



.company ul{
    list-style-type: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 21px 100px;
    text-align: justify;

}

.support ul{
    list-style-type: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: justify; 
    margin: 21px 50px;

}

.info{
    margin: 0px 66px;
}

.info_1{
    margin: 0px 50px;
    padding-right: 50px;
} 

.info_2{
    margin: 0px 50px;
    padding-right: 50px;
    
}

.address{
    
     font-size: 20px;
    /* margin: 20px 31px; */
}

.contact{
    padding: 0px 100px;
    text-align: center;
}

.copy-rights{
    text-align: center;
}

@media only screen and (min-width: 1200px) {}

@media only screen and (min-width: 768px) {}


