#nav-container{
    background-image:url(img/billboard.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.nav-data{
    display: flex;
    justify-content: space-between;
    padding: 2px 30px;
    background-color:rgba(255, 255, 255, 0.6) ;
    height: 80px;
    width: 98%;
}
.nav-logo{
    text-align: center;
    padding-top: 1px;
}

.navbar-list ul{
    display: flex;

}

.navbar-list li,a{
    list-style: none;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    margin: 15px 15px;
    padding-bottom: 5px;
    
}

.nav-item li,a:hover{
    color: rgb(26, 224, 224);
}

.banner-para{
    display: flex;
    background-color: rgba(255, 255, 255, 0.6);
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 99.5%;
    height: 70px;
}

.banner-text{
    font-size: 20px;
    margin: 5px 20px;
}

.banner-btn :hover{
    color: blue;
    justify-content: center;
    align-items: center;  
}

.btn_1{
    width:300px;
    height: 30px;
    margin: 22px 112px;
    justify-content: center;
    background-color: rgb(67, 222, 222); 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #f9f6f6;
    border: 0px;
    
}

.header{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 20px;
}

.aboutus-container{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.studio-data{
    margin: 0px 200px;
    background-color: #f9f6f6;
}

.flex-services{
    display: flex;
}

.flex-services img{
    width: 300px;
    border: 0px;
}

.header-T{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 20px;
}

.testimonials-container{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.testimonials-data{
    margin: 0px 200px;
    background-color: #f9f6f6;
}

.role{
    color: #989898;
    font-size: 15px;
}

.logo{
    width: 100%;
    background-color: #f3f2f2;
}

.brand-logo{
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
}

.footer-text{
    justify-content: space-between;
    width: 70%;
    color: #fff;
    background-color: #434343;
    height: 70px;
    margin-right: 30px;
    margin-left: 40px;
}

.text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 20px 10px;
}
.footer-container{
    display: flex;
    width: 100%;
    height: 400px;
    background-color: #353535;
}

.btn_2 button{
width: 20px;
margin: 30px 30px;
padding: 10px;
font-size: 20px;
font-family: 'Times New Roman', Times, serif;
}

.location .company .support .ARK{
    text-align: justify;
    padding: 5px;

}

.fa-brands{
    background-color: red;
    color: #fff;
}